.gh-card-tags {
    margin-bottom: 0rem;
}

.post-tag {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-right: 1rem;
    border-radius: 60px;
}

.post-tag:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.post-tag a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    padding: 0.2rem 1.5rem;
    display: block;
}

.gh-post-tags {
    margin-bottom: 1rem;
}

@media (max-width: 500px) {
    .post-tag {
        font-size: 1.1rem;
    }
    .post-tag a {
        padding: 0.1rem 1.2rem;
    }
}
